<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="false" verbose="10">
  <test thread-count="5" name="Myntra Application Test">
    <classes>
      <class name="TestRunner.Runner"></class>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

